body{
    margin: 0;
    padding:0;
}
.Head {
    background-image:linear-gradient(white,rgb(122, 191, 255));
    width: 100%;
    height: 100px;
    margin: 0%;
}  
.Head h1 {
    float: left;
    font-family: Trajan Pro;
    font-weight: bold;
    font-size: 70px;
    margin: 13px auto;
    padding-left: 20px ;
}

.Head h2 {
    float: left;
    font-family: Verdana;
    font-size: 60px;
    font-weight: bold;
    margin: 20px auto;
}

.Head img {
    float: right;
    padding-right: 20px;
    margin-right: 25px;
    padding-bottom: 50px;
}
.DaftarBox{
    width: 100%;
    margin-top: 65px;
}

.Daftar{
    margin-left: 35%;
}
.Daftar table {
    width: 30%;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    margin-left: 50px;
}

.Daftar th{
    background: rgb(0, 0, 0);
    border-radius: 5px;
}